<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GroceryListWebsite-20180207113118.mdf;Initial Catalog=aspnet-GroceryListWebsite-20180207113118;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  <add name="GroceryList" connectionString="data source=.;initial catalog=GroceryList;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!--watch the data source, set to .-->
</connectionStrings>